.userChat {
    display: flex;
    justify-content: end;
    align-items: start;
  }
  .robotChat {
    display: flex;
    justify-content: left;
    align-items: start;
  }
  .txt {
    background-color: rgb(232, 232, 232);
    padding: 15px 15px;
    border-radius: 15px;
    margin-right: 4px;
    margin-top: 10px;
    margin-left: 4px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
  }
  .profileImg {
    width: 40px;
    padding: 10px;
  }