.send-button {
    background-color: green;
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
  }
  .send-button:hover {
    background-color: rgb(2, 107, 2);
  }
  .input {
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 15px;
    border-width: 1px;
    flex-grow: 1;
  }
  .input-container {
    display: flex;
    margin-bottom: 10px;
    margin-bottom: 60px;
  }
  .clear-button{
    background-color: red;
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
  }