.chats-container {
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
  }
  .wlcmText{
    justify-content: center;
  }
  .loadingImg{
    height: 40px;
    margin: -15px;
  }